*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.head-links{
    width:100%;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 20%;
   
    
}
.h-links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    
}
.h-links li {
    list-style-type: none;
    padding: 10px 30px;
   

}
.h-links li a{
    text-decoration: none;
    color: white;
}
.heading{
    display: flex;
    justify-content: center;
    padding-top: 2vmin;
    position: sticky;
   
}
.mvn{
    padding-top: 25px;
    padding-right: 10px;
}
 .matter .clg{
    color:rgb(201, 29, 112);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3vw;
    font-weight: 760;
}
.matter .aff {
    color:orange;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:1vw ;
    padding-left: 20%;
    padding-top: 0.5%;
  
}
.matter .acc{
    color:green;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:1vw ;
    padding-left: 25%;
    padding-top: 0.5%;
}
.matter .rec {
    color:rgb(16, 16, 116);
    font-family:Arial, Helvetica, sans-serif ;
    font-size:1vw ;
    padding-left: 25%;
    padding-top: 0.5%;
}
.matter .iden {
    color:blueviolet;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:1vw ;
    padding-left: 30%;
    padding-top: 0.5%;
}
.matter .iden {
    color:blueviolet;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:1vw ;
    padding-left: 30%;
    padding-top: 0.5%;
}
.matter .mal{
    color:red;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:1vw ;
    padding-left: 30%;
    padding-top: 0.5%;
}
.adi{
    padding-top: 20px;
    padding-left: 0px;
}
.nav-links{
    width: 100%;
    background: rgb(34, 67, 105);
    margin-top: 7px;
}
.n-links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 70px;
}
.n-links li{
    list-style-type: none;
    padding: 0.8% 1%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.n-links li a{
    text-decoration: none;
    color: white;
}
.n-links li a:hover{
    color:orange;
}
.ab{
    margin-left:60px;
    opacity:0;
    position:absolute;
    top:35px;
    visibility:hidden ;
    z-index:1;
    background-color:gray;
    padding-left: 40px;
}
.ab li a{
    padding:5px;
   
}
li:hover ul.ab{
    opacity:2;
    top:33%;
    visibility:visible;
    left: 40px;
    padding: 7px 5px;
}

.bc{
    margin-left:60px;
    opacity:0;
    position:absolute;
    top:35px;
    visibility:hidden ;
    z-index:1;
    background-color:gray;
    padding-left: 40px;
}
.bc li a{
    padding:5px;
   
}

li:hover ul.bc{
    opacity:2;
    top:33%;
    visibility:visible;
    left: 13%;
    padding: 7px 5px;
}
.cd{
    margin-left:60px;
    opacity:0;
    position:absolute;
    top:35px;
    visibility:hidden ;
    z-index:1;
    background-color:gray;
    padding-left: 40px;
}
.cd li a{
    padding:5px;
   
}
li:hover ul.cd{
    opacity:2;
    top:33%;
    visibility:visible;
    left: 13%;
    padding: 7px 5px;
}
.de{
    margin-left:60px;
    opacity:0;
    position:absolute;
    top:35px;
    visibility:hidden ;
    z-index:1;
    background-color:gray;
    padding-left: 40px;
}
.de li a{
    padding:5px;
   
}

li:hover ul.de{
    opacity:2;
    top:33%;
    visibility:visible;
    left: 32%;
    padding: 7px 5px;
}
.ef{
    margin-left:60px;
    opacity:0;
    position:absolute;
    top:35px;
    visibility:hidden ;
    z-index:1;
    background-color:gray;
    padding-left: 40px;
}
.ef li a{
    padding:5px;
   
}

li:hover ul.ef{
    opacity:2;
    top:33%;
    visibility:visible;
    left: 46%;
    padding: 7px 5px;
}
.gh{
    margin-left:60px;
    opacity:0;
    position:absolute;
    top:35px;
    visibility:hidden ;
    z-index:1;
    background-color:gray;
    padding-left: 40px;
}
.gh li a{
    padding:5px;
   
}

li:hover ul.gh{
    opacity:2;
    top:32%;
    visibility:visible;
    left: 50%;
    padding: 7px 5px;
}
.ij{
    margin-left:60px;
    opacity:0;
    position:absolute;
    top:35px;
    visibility:hidden ;
    z-index:1;
    background-color:gray;
    padding-left: 40px;
}
.ij li a{
    padding:5px;
   
}

li:hover ul.ij{
    opacity:2;
    top:32%;
    visibility:visible;
    left: 57%;
    padding: 7px 5px;
}
.kl{
    margin-left:60px;
    opacity:0;
    position:absolute;
    top:35px;
    visibility:hidden ;
    z-index:1;
    background-color:gray;
    padding-left: 40px;
}
.kl li a{
    padding:5px;
   
}

li:hover ul.kl{
    opacity:2;
    top:32%;
    visibility:visible;
    left: 72%;
    padding: 7px 5px;
}
.news h2{
    font-style: italic;
    background: rgb(89, 89, 236);
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    padding-top: 13px;
    padding-left:20px;
    padding-right:20px;
    white-space: nowrap;
}

.news{
    display: flex;
    justify-content: space-between;
    background: whitesmoke;
    padding: 10px 0;
  

}
.mar{
    margin-left: 5%;
    margin-right: 11%;
    margin-top: 20px;
    overflow: hidden;
}
marquee p{
    margin-left: 50%;
    margin-right: 14%;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 560;
    color: rgb(7, 20, 7);
    
}

span{
    
        background: linear-gradient(45deg, red,rgb(219, 20, 130), blue,rgb(8, 142, 8));
        -webkit-background-clip: text;
        color: transparent;
      
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2%;
}
.main{
    margin-top: 10px;
}
.row .col1, .col2, .col3{
    border: 1px solid grey;
    border-radius: 8px;
}
.row .col1{
margin-right: 40px;
}
.row .col3{
    margin-left: 40px;
}
.row .col2{
    margin-bottom: 5%;
    padding:0;
}
.row h3{
    background: rgb(101, 101, 186);
    padding: 20px 10px;
    padding-bottom: 14px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.row h4{
    padding-left:15%;
    margin-top:0;
    color:rgb(38, 38, 246) ;
    font-size: 20px;
}
.btn{
    background: rgb(91, 91, 235);
    margin: 10px 50px;
    padding:10px 50px;
    border-radius: 15px;
    text-align: center;
    color:white;
    font-size: 17px;
}
.updates{
    display:flex;
    margin: 1% 2%;
    align-items: center;
    justify-content: space-around;
}
.colum1, .colum2, .colum3{
    border: 1px solid grey;
    margin: 0px 10px;
}

.colum1{
    margin-bottom: 80px;
    
    padding-bottom: 30px;

}
.colum1 h5{
    white-space: nowrap;
    padding-top: 30px;
    padding-left: 5px;
    color: rgb(25, 25, 245);
    font-family: Arial, Helvetica, sans-serif;
    
}
.colum1 h3{
    background-color: rgb(139, 123, 212);
    border-radius: 5px;
    padding: 3% 8%;
    color: white;
}
.colum2{
    
    padding-bottom: 50px;
    margin-bottom: 75px;
}
.colum2 h3{
    background-color: rgb(139, 123, 212);
    border-radius: 5px;
    padding: 3% 5%;
    color: white;
}
.colum2 p{
text-align: justify;
margin-top: 20px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
color: rgb(43, 54, 43);
padding-left: 3px;
padding-right: 2px;
}
.colum3{
    margin-bottom: 1px;
    padding-bottom: 40px;
}
.colum3 h3{
    background-color: rgb(139, 123, 212);
    border-radius: 5px;
    padding: 3% 5%;
    color: white;
}
.paper img{
   padding-left: 20px;
}
.gall{
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.gall .ph{
    background-color:green;
    padding: 1% 3%;
    border-radius: 15px;
}
.gall .col{
    background-color:rgb(158, 102, 102);
    padding: 1% 3%;
    border-radius: 15px;
}
.gall .you{
    background-color:red;
    padding: 1% 2%;
    border-radius: 15px;
}
.gall .aw{
    background-color:brown;
    padding: 1% 4%;
    border-radius: 15px;
}
.gall .lm{
    background-color:rgb(53, 84, 53);
    padding: 1% 5%;
    border-radius: 15px;
}
.gall .in{
    background-color:rgb(87, 5, 87);
    padding: 1% 2%;
    border-radius: 15px;
}
.foot{
    background-color:rgb(42, 42, 115) ;
    padding:1.5% 0;
    display: flex;
    color: white;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}
.foot .des{
    padding-left:35%;
}
.foot .all{
    padding-left: 5%;
}

@media (max-width:960px){
    .h-links {
        display: flex;
        flex-direction: column;
        position: sticky;
    }
    .matter .clg{
        font-size: 2vw;
    }
    .mvn{
        padding: 0;
        height: 8vw;
        width: 8vw;

    }
    .adi{
        padding: 0;
        height: 8vw;
        width: 8vw;

    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        width:100%;
    }
    .row .col1{
        padding: 0px 18%;
    }
    .row .col2{
        padding: 0px 7%;
    }
    .row .col3{
        padding: 0px 23%;
    }
    .updates{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        width:100%;
    }
    .gall{
        display: flex;
        flex-direction: column;
        font-size: 11px;
       
    }
    .gall .ph{
        background-color:green;
        padding: 2% 3%;
        border-radius: 15px;
        margin-right: 60%;
        margin-bottom: 2%;
    }
    .gall .col{
        background-color:rgb(158, 102, 102);
        padding: 2% 3%;
        border-radius: 15px;
        margin-right: 60%;
        margin-bottom: 2%;
        font-size: 15px;
    }
    .gall .you{
        background-color:red;
        padding: 2% 2%;
        border-radius: 15px;
        margin-right: 60%;
        margin-bottom: 2%;
        font-size: 14.5px;
    }
    .gall .aw{
        background-color:brown;
        padding: 2% 4%;
        border-radius: 15px;
        margin-right: 60%;
        margin-bottom: 2%;
    }
    .gall .lm{
        background-color:rgb(53, 84, 53);
        padding: 2% 5%;
        border-radius: 15px;
        margin-right: 60%;
        margin-bottom: 2%;
    }
    .gall .in{
        background-color:rgb(87, 5, 87);
        padding: 2% 2%;
        border-radius: 15px;
        margin-right: 60%;
        margin-bottom: 2%;
    }
    .foot{
        display: flex;
        flex-direction: column;
    }
    .foot .all{
        padding-left: 17%;
        padding-right: 5%;
    }
    
}
@media (max-width:1315px){
    .n-links {
        display: flex;
        flex-direction: column;
        position: sticky;
    }
    li:hover ul.ab{
        opacity:2;
        top:17%;
        visibility:visible;
        left: 10px;
        padding: 7px 5px;
    }
    li:hover ul.bc{
        opacity:2;
        top:27%;
        visibility:visible;
        left: 10px;
        padding: 7px 5px;
    }
    li:hover ul.cd{
        opacity:2;
        top:37%;
        visibility:visible;
        left: 10px;
        padding: 7px 5px;
    }
    li:hover ul.de{
        opacity:2;
        top:48%;
        visibility:visible;
        left: 10px;
        padding: 7px 5px;
    }
    li:hover ul.ef{
        opacity:2;
        top:58%;
        visibility:visible;
        left: 10px;
        padding: 7px 5px;
    }
    li:hover ul.gh{
        opacity:2;
        top:68%;
        visibility:visible;
        left: 10px;
        padding: 7px 5px;
    }
    li:hover ul.ij{
        opacity:2;
        top:78%;
        visibility:visible;
        left: 10px;
        padding: 7px 5px;
    }
    li:hover ul.kl{
        opacity:2;
        top:88%;
        visibility:visible;
        left: 10px;
        padding: 7px 5px;
    }
}
@media (max-width:680px){
    .foot p{
        font-size:6px ;
    }
    .foot .all{
        padding-left: 24%;
    }
}


   



